################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Starks.Bank/.vs/
Starks.Bank/Starks.Bank/obj/
Starks.Bank/Starks.Bank.UnitTest/obj/
Starks.Bank/Starks.Bank/bin/
Starks.Bank/Starks.Bank.UnitTest/bin/