################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Object files
*.o
*.ko
*.obj
*.elf

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
